*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
html,body{
    display: grid;
    place-items: center;
    height: 100%;
    overflow: hidden;
    background: #111;
}
h2{
 font-size: 3em;
 color :#222;
}
h2::before{
    content: attr(data-text);
    position:absolute;
    color: #fff;
    width: 350px;
    overflow: hidden;
    white-space: nowrap;
    border-right: 4px solid #fff;
    animation: animate 5s linear infinite;
    filter: drop-shadow(0 0 20px #fff) drop-shadow(0 0 20px #fff);
}
@keyframes animate{
    0%{
        width: 0;
    }
    100%{
        width: 50%;
    }
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: -280px;
    margin-left: 800px;


}
nav ul li{
    list-style-type: none;
    display: inline-block;
    padding: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
    font-weight: bold;
}
.displayMensajes{
    display: flex;
    flex-direction: row;
    align-items: center;
}
button{
    position: relative;
    height: 60px;
    width:150px;
    margin: 0 35px;
    border-radius: 50px;
    border:none;
    outline: none;
    background: #111;
    color:#fff;
    font-size: 16px;
    letter-spacing: 2px;
    cursor: pointer;
}
button:first-child{
    background:linear-gradient(90deg,#03a9f4, #f441a5, #ffeb3b, #03a9f4 );
    background-size: 400%;

}
button:first-child::before{
   content: '';
   position: absolute; 
   background: inherit;
   top:-5px;
   right: -5px;
   bottom: -5px;
   left: -5px;
   border-radius: 50px;
   filter: blur(20px);
   opacity: 0;
   transition: opacity 0.5s;
}
button:first-child:hover::before{
    opacity: 1;
    z-index: -1;
}
button:hover{
    z-index: 1;
    animation: glow 8s linear infinite;
}
@keyframes glow{
    0%{
        background-position: 0%;
    }
    100%{
        background-position: 400%;
    }
}
.btn{
    width: 160px;
    height: 50px;
    border: transparent;
    color:rgb(255, 255, 255);
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: small;
}
